:root {
    --bd-light-1: #f5f5f5;
    --bd-light-2: #005994;
    --bd-light-3: #1F2937;
    --link-light: #1E3A8A;
    --bd-dark-1: #333333;
    --bd-dark-2: #005994;
    --bd-dark-3: #1F2937;
    --link-dark: #1E3A8A;
}

/* Estilos para el modo claro */
[data-bs-theme="light"] body {
    background-color: var(--bd-light-1);
    color: var(--text-light-1);
}

[data-bs-theme="light"] .navbar-nav .nav-link {
    color: var(--link-light);
}

[data-bs-theme="light"] .navbar-nav .nav-link:hover {
    color: var(--text-link-light);
}

[data-bs-theme="light"] .navbar-toggler {
    border-color: #444;
}

[data-bs-theme="light"] #portada {
    background-image: url(../img/bg-light.svg);
}

[data-bs-theme="light"] #skills {
    background-color: var(--bd-light-2);
    color: white
}

[data-bs-theme="light"] #cursos {
    background-color: var(--bd-light-3);
    color: white;
}

[data-bs-theme="light"] #cursos .card {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}




/* Estilos para el modo oscuro */
[data-bs-theme="dark"] body {
    background-color: var(--bd-dark-1);
    /* Fondo del navbar */
    color: #ffffff;
    /* Color del texto del navbar */
}

[data-bs-theme="dark"] .navbar-nav .nav-link {
    color: white;
    /* Color del texto de los enlaces */
}

[data-bs-theme="dark"] .navbar-nav .nav-link:hover {
    color: #bb86fc;
    /* Color de los enlaces al pasar el ratón */
}

[data-bs-theme="dark"] .navbar-toggler {
    border-color: #444;
    /* Color del borde del botón de toggle */
}

[data-bs-theme="dark"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='white'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

[data-bs-theme="dark"] #portada {
    background-image: url(../img/bg-dark.svg);
}

[data-bs-theme="dark"] #banner-portada {
    background-color: var(--bd-dark-1);
    color: white;
}