@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  transition: background 0.5s ease;
  overflow-x: hidden;
}

p {
  font-weight: 2.5rem;
}

b {
  font-weight: 5rem;
}

h1 {
  font-weight: 5rem;
}

h2 {
  font-weight: 4.5rem;
}

h3 {
  font-weight: 4rem;
}

h4 {
  font-weight: 3.5rem;
}

h5 {
  font-weight: 3rem;
}

h6 {
  font-weight: 2.5rem;
}

/* THEME BUTTON */
.btn-bd-primary {
  --btn-light: #3B82F6;
  --btn-hover-light: #1E40AF;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-dark);
  --bs-btn-bg: var(--btn-light);
  --bs-btn-border-color: var(--btn-light);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--btn-hover-light);
  --bs-btn-hover-border-color: var(--btn-hover-light);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--btn-hover-light);
  --bs-btn-active-border-color: var(--btn-hover-light);
}

/* NAVBAR */
#navbar {
  transition: background-color 0.3s, padding 0.3s;
}

#navbar a {
  color: white;
}

#navbar .nav-link:active {
  color: blue;
}

#navbar.scrolled {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#navbar.scrolled a {
  color: black;
}

/* BANNER */
#banner-portada {
  background-color: white;
  height: 3em;
}

.banner-black {
  background-color: #333333;
  height: 6rem;
}

/* PORTADA */
#portada {
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.typing {
  max-width: var(--typing-width);
  animation: typing var(--typing-time) steps(var(--typing-steps)) forwards, blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
}

.stop-animation {
  animation: none;
  border-right: none;
}

@media (max-width: 576px) {

  .typing {
    white-space: normal;
    max-width: 100%;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: var(--typing-width);
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

/* SOBRE MI */
#sobreMi {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* SKILLS */
#skills {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* EXPERIENCIA */
#experiencia {
  margin-top: 5%;
  margin-bottom: 5%;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline>li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/* CURSOS */
#cursos {
  padding-top: 5%;
  padding-bottom: 5%;
}

#courses-container {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

#courses-container .card {
  height: 350px;
  background-color: #f8f9fa;
  margin: 0 .5em;
}

#courses-container .card .card-header {
  height: 45%;
  background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 960px) {
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/3);
  }
}

@media (min-width: 1200px) {
  .carousel-item {
    flex: 0 0 calc(100%/4);
  }
}

/* PORTAFOLIO */
#portafolio {
  margin-top: 10%;
  margin-bottom: 15%;
}

#portfolio-container .card {
  height: 300px;
  transition: opacity 0.3s;
}

#portfolio-container .card:hover {
  opacity: 0.8;
}

.card[data-color="Cream Brulee"] {
  background: #ffdd9e;
}

.card[data-color="Portafino"] {
  background: #fff8ad;
}

.card[data-color="Fringy Flower"] {
  background: #c0e7cb;
}

.card[data-color="Shadow Green"] {
  background: #a1c9c6;
}

#portfolio-container .card h6 {
  font-weight: bold;
}

#portfolio-container .card p {
  text-overflow: ellipsis;
}

/* CONTACTO */
#contacto {
  margin-bottom: 15%;
}

#location {
  background-color: rgba(157, 182, 201, 0.3);
  height: 6rem;
  border: 1px gray;
}

/* FOOTER */
#footer {
  background-color: #bcbdbd;
  color: black;
}

#footer .nav-link {
  color: gray;
  transition: color 0.3s ease;
}

#footer .nav-link:hover {
  color: white;
}

#social-media {
  background-color: #8f8f8f;
}

#copyright {
  background-color: #606060;
  color: white;
}