@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  transition: background 0.5s ease;
}

p {
  font-weight: 400;
  /* Regular */
}

b {
  font-weight: 700;
  /* Bold */
}

h1 {
  font-weight: 700;
  /* Bold para destacar el título principal */
}

h2 {
  font-weight: 600;
  /* Semi-bold para subtítulos importantes */
}

h3 {
  font-weight: 600;
  /* Semi-bold para mantener consistencia con h2 */
}

h4 {
  font-weight: 500;
  /* Medium para títulos secundarios */
}

h5 {
  font-weight: 500;
  /* Medium para mantener jerarquía visual */
}

h6 {
  font-weight: 400;
  /* Regular para el título menos destacado */
}

/* THEME BUTTON */
.btn-bd-primary {
  --btn-light: #3B82F6;
  --btn-hover-light: #1E40AF;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-dark);
  --bs-btn-bg: var(--btn-light);
  --bs-btn-border-color: var(--btn-light);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--btn-hover-light);
  --bs-btn-hover-border-color: var(--btn-hover-light);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--btn-hover-light);
  --bs-btn-active-border-color: var(--btn-hover-light);
}

/* NAVBAR */
#navbar {
  transition: background-color 0.3s, padding 0.3s;
}

#navbar a {
  color: white;
}

#navbar .nav-link:active {
  color: blue;
}

#navbar.scrolled {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#navbar.scrolled a {
  color: black;
}

/* BANNER */
.banner-portada {
  background-color: white;
  height: 3em;
}

.banner-black {
  background-color: #333333;
  height: 6rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.banner-blue {
  background-color: #0E2C4C;
  height: 6rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* PORTADA */
#portada {
  height: 95vh;
  background-image: url(../img/front_page.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/* SOBRE MI */
#sobreMi {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* SKILLS */
#skills {
  margin-top: 15%;
  margin-bottom: 15%;
}

/* EXPERIENCIA */
#experiencia {
  margin-top: 15%;
  margin-bottom: 5%;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline>li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/* CURSOS */
#carouselCursos {
  margin-top: 5%;
  margin-bottom: 20%;
}

#courses-container {
  display: flex;
  /* Flexbox para alinear los ítems */
  overflow: hidden;
  /* Oculta el desbordamiento */
  scroll-behavior: smooth;
  /* Suaviza el scroll */
}

#courses-container .card {
  height: 350px;
  background-color: #f8f9fa;
  margin: 0 .5em;
}

@media (min-width: 960px) {
  /* #courses-container {
    display: flex;
  } */

  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100%/3);
  }
}

@media (min-width: 1200px) {
  .carousel-item {
    flex: 0 0 calc(100%/4);
  }
}

/* PORTAFOLIO */
#portafolio {
  margin-top: 10%;
  margin-bottom: 15%;
}

#portfolio-container .card {
  height: 300px;
  transition: opacity 0.3s;
}

#portfolio-container .card:hover {
  opacity: 0.8;
}

.card[data-color="blue"] {
  color: #7a9e9f;
}

/* CONTACTO */
#contacto {
  margin-bottom: 15%;
}



#location {
  background-color: rgba(157, 182, 201, 0.3);
  height: 6rem;
  border: 1px gray;
}

/* FOOTER */
#footer {
  height: 150px;
  background-color: rgba(157, 182, 201, 0.8);
}